*{
    margin: 0;
    padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Bledek'; 
	background:url(slika1.jpg) no-repeat;
	background-size: cover;
	}
.naslov{
	margin-left:43%;
}
.lab{
	margin-left:33%;
	margin-top:-2%;
	
}
.morskipes{
	margin-left:10%;
	
}
.oblak{
	height:250px;
	width:250px;
	margin-left:40%;
	margin-top:-100%;
	
	
	
}
.button1{
  width: 200px;
  height: 200px;
  margin-left:-12%;
  margin-top:-100%;
  background-color: transparent;
  border-color: transparent;
  border:2px, solid black;
 
}
	
